<% @category1s.each do |category1| %>
<div class="latest-articles">
  <h3 class="tittle"><%= link_to category1.name, category1_path(category1), style: "color: #fff" %></h3>
  <% @tins = category1.tins.where(showonhome: true) %>
  <div class="world-news-grids">
  <% @tins.each do |tin| %>
    <div class="world-news-grid lost">
      <a href="<%= tin_path(tin) %>"><%= image_tag tin.image.url %></a>
      <a href="<%= tin_path(tin) %>" class="wd"><%= tin.name %></a>
      <a href="<%= tin_path(tin) %>"><p><%= tin.title %></p></a>
      <a class="read" href="<%= tin_path(tin) %>">Read More</a>
    </div>
    <%end %>
    <div class="clearfix"></div>  
  </div>
</div>
<% end %>