<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tagdetail.tag %>
</p>

<p>
  <strong>Tin:</strong>
  <%= @tagdetail.tin %>
</p>

<%= link_to 'Edit', edit_admin_tagdetail_path(@tagdetail), class: "btn btn-success"  %> |
<%= link_to 'Back', admin_tagdetails_path, class: "btn btn-success"  %>
